
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    // height: 95%;
    // align-items: center;
}

.form-data{
    display: flex;
    height: 700px;
    justify-content: space-evenly;
    align-items: center;
}


